*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    /* width: 1152px; */
    /* height: 100vh; */
    /* border: 1px solid; */
    padding: 0px 400px;
}
 
@font-face {
    font-family: "heebo";
    src: url(../Heebo/Heebo-VariableFont_wght.ttf);
}


header nav {
    width: 100%;
    height: 60px;
    /* background-color: aqua; */
    display: flex;
    justify-content: end;
    align-items: center;

}
header ul {
    display: flex;
    gap: 30px;
    padding: 0px 60px;
    
}

header ul a {
    text-decoration: none;
    font-family: "heebo";
    color: black;
 


}

header li {
    list-style: none;
    font-family: "heebo";

}
h1{
    font-size: 35px;
    font-family: "heebo";
    margin: 10px 100px;
}
.box {
    width: 100%;
    height: 200px;
    padding: 0px 78px;
    /* border: 1px solid; */
    background-color: white;
}

#h2 {
    width: 682px;
    height: 33px;
    font-family: "heebo";
    padding: 10px 20px;
}

.title {
    display: flex;
    gap: 30px;
    padding: 10px 20px;
}

#d22 {
    font-size: 18px;
    padding: 20px 0px;
}

#p12 {
    width: 682px;
    height: 43px;
    font-size: 18px;
    padding: 15px ;
}
.span {
    width: 100%;
    border-bottom: 1px solid #232853;
    margin: 0px 0px;
  }
  footer{
    width: 1152px;
    height: 182px;
    /* border: 2px solid ; */
    /* display: block */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    
    

}
i{
    font-size: 25px;
}

.iconki{
    width: 100%;
    margin: 50px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    gap: 20px;
}
.paragrf{
    width: 100%;
    /* margin: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.footers{
    width: 1152px;
    height: 250px;
    padding: 70px 110px;

}

















